.productSection {
  margin: auto;
  width: 80%;
}
.proTop {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  color: gray;
  padding: 0.5rem;
  margin: 1rem;
}
.styles.proMid {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 1rem;
}
.proHeading {
  font-size: 26px;
  font-weight: bold;
  padding: 0.5rem;
  margin: 1rem;
}
.proBody {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
  gap: 2rem;
  
}
.proFilter {
  width: 25%;
  /* border: 1px solid red; */
 
}
.filterHead {
  font-size: 16px;
  color: gray;
  padding: 2rem;
  
}
.FilterBody {
  display: flex;
  flex-direction: column;
}

.proMainSec {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
  /* border: 1px solid red; */
  height: auto;
}

.proSortSec {
  font-size: 12px;
  color: gray;
  padding: 1rem;
  /* margin-top: 1rem; */
  /* border: 1px solid red; */

}
.productMain {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(3, 250px);
  gap: 2rem;
  /* border: 1px solid blue; */
  text-align: center;
}


.main{
  /* border:1px solid blue;  */
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  gap:1rem;
}

.main>p{
    font-size: 2rem;
}
.user__order___container>img{
  border-radius: 50%;
}
.main>p:nth-child(1){
  font-size: 3.5rem;
  color:brown;
}
.main>p:nth-child(4){
  color:grey
}




@media (min-width: 480px) and (max-width: 800px) {

    .productMain {
        display: grid;
        grid-template-rows: repeat(6, auto);
        grid-template-columns: repeat(2, 250px);
        gap: 2rem;
        /* border: 1px solid blue; */
        text-align: center;
      }
    
 }
 @media screen and (max-width: 480px) {
     .productMain {
        display: grid;
        grid-template-rows: repeat(12, auto);
        grid-template-columns: repeat(1, 250px);
        justify-content: center;
        gap: 2rem;
        /* border: 1px solid blue; */
        text-align: center;
      }
      .proFilter {
        width: 25%;
        /* border: 1px solid red; */
       display: none;
      }
    
 } 